.App {
  text-align: center;
  padding: 30px;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.invoice-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;

}

.invoice-number,
.date {
  font-weight: bold;
}

.address {
  margin-top: 30px;
}

.address p {
  font-size: 18px;
  margin: 5px 0;
}

.address1,
.address2 {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;

}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4e4e4e;
  color: white;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:last-child {
  background-color: #ff505075;
}

.game {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  height: 80px;
  width: 80px;
  margin: 0px auto;
}

.game-info {
  margin-left: 20px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 10;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  background-color: red;
  color: rgb(0, 0, 0);
}

.moves-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
}

.moves {
  font-size: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.moves li {
  margin-bottom: 5px;
}

.current-move {
  font-weight: bold;
}